.alt-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px var(--horizontal-space);
    margin-top: 21px;
}

.alt-header i {
    font-size: 22px;
}

.alt-header h1 {
    font-size: 26px;
    font-weight: 600;
}